<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.nutri.breast_feeding_101"
    android:versionCode="3"
    android:versionName="3.1">

    <!-- <uses-sdk -->
    <!-- android:minSdkVersion="14" -->
    <!-- android:targetSdkVersion="17" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/breast_feeding"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/course1" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/counter_text_bg" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--<activity-->
            <!--android:name=".Login"-->
        <activity
            android:name=".auth.view.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".Sign_up"
            android:theme="@style/AppTheme2" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Update_details"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".Course_preassesment" />
        <activity android:name=".Course_quiz" />
        <activity android:name=".Course1_introduction" />
        <activity android:name=".Course2_introduction" />
        <activity android:name=".Course3_introduction" />
        <activity android:name=".Course4_introduction" />
        <activity android:name=".Course5_introduction" />
        <activity android:name=".Course5_unit1" />
        <activity android:name=".Course5_unit2" />
        <activity android:name=".Course6_introduction" />
        <activity android:name=".Course6_unit1" />
        <activity android:name=".Reset_password$Score_page" />
        <activity android:name=".Quiz" />
        <activity android:name=".Quiz_score" />
        <activity android:name=".Faqs" />
        <activity android:name=".Discussion_Room" />
        <activity android:name=".Others" />
        <activity android:name=".Chat" />
        <activity android:name=".Discussions" />
        <activity android:name=".Rss.ListRSSItemsActivity" />
        <activity android:name=".Rss.DisPlayWebPageActivity" />
        <activity android:name=".Admin" />
        <activity android:name=".Admin_user_details" />
        <activity android:name=".Download_image" />
        <activity android:name=".Export_details" />

        <!-- <activity android:name="edu.nutri.breast_feeding_101.app.AppController"></activity> -->
        <activity
            android:name=".Reset_password"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Contact_us2" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".example.view.ExampleActivity"
            android:label="@string/title_activity_example"/>

        <activity
            android:name=".auth.view.AuthActivity"
            android:theme="@style/NoActionBar"
            android:label="@string/title_activity_example"/>
    </application>

</manifest>